<!DOCTYPE html>
<html>
    <head>
        <title>Product Page</title>
        <title>Product Page</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Product Page</h1>
        <form action = "/main/product/" method = "POST">
            <input type = "text" name = "keyword">
            <select name = "category">
                <option value = "0">자재번호</option>
                <option value = "1">도면번호</option>
                <option value = "2">자재명</option>
            </select>
            <input type = "submit" value = "search">
        </form>
        <table border='1'>
            <thead>
                <tr>
                    <th>자재번호</th>
                    <th>도면번호</th>
                    <th>자재명</th>
                    <th>비고</th>
                    <th>가격</th>
                    </tr>
            </thead>
            <tbody>
                {% for item in item %}
                <tr>
                    <td>{{  item[0]  }}</td>
                    <td>{{  item[1]  }}</td>
                    <td>{{  item[2]  }}</td>
                    <td>{{  item[3]  }}</td>
                    <td>{{  item[4]  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <li><a href="/main/">메인 페이지</a></li>
    </body>
</html>